<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border banner-colour">
        <h2>Edit Profile</h2>
    </div>
  </div>
</div>
<div class="about-background">
  <div class="column is-one-third is-offset-one-third">
    <div class="center-text border topic-card">
      <%= render 'form', profile: @profile %>
      <%= link_to 'Show', @profile %> |
      <%= link_to 'Back', profiles_path %>
    </div>
  </div>
</div>
