<div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border">
      <h1>Editing Profile</h1>
    </div>

<%= render 'form', profile: @profile %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>
