<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border-box">
      <h1> Chat</h1>
    </div>
  </div>
</div>
<div class="white-body">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third is-offset-two-third">
        <div class="center-text border-grey grey-background">
          <div class="ui segment">
           <h3 class="heading">inbox</h3>
           <div class="ui list">
            <div class="item">
              <ul>
               <% @conversations.each do |conversation| %>
               <li><% if conversation.sender_id == current_user.id ||      conversation.recipient_id == current_user.id %></li>
                <% if conversation.messages.any? %>
                  <li><% if conversation.sender_id == current_user.id %></li>
                    <li><% recipient = User.find(conversation.recipient_id) %></li>
                  <% else %>
                    <% recipient = User.find(conversation.sender_id) %>
                  <% end %>
                  <%= link_to recipient.email,   conversation_messages_path(conversation)%>
                <% end %>
               <% end %>
              <% end %>
              </ul>
            </div>
           </div>
          </div>
        </div>
      </div>
      <div class="column is-4 is-offset-3">
        <div class="center-text border-grey grey-background">
          <div class="ui segment">
           <h3 class="heading">All Users</h3>
            <div class="ui list">
             <% @users.each do |user| %>
              <% if user.id != current_user.id %>
               <div class="item">
                 <%= user.email %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
             </div>
            <% end %>
           <% end %>
           </div>
          </div>
       </div>
      </div>
    </div>
    <div class="column is-one-third is-offset-one-third">
      <div class="button is-large">
        <%= link_to 'Request some help from our team', professional_request_path, method: :post %>
     </div>
    </div>
  </div>
</div>
<footer>
  <img src='http://res.cloudinary.com/devsvbpxr/image/upload/v1493089883/squiggle_l1k33k.jpg'>
</footer>
