<body>
  <header id ="main_navigation" class="clearfix">
    <a href="/" class="name">Name</a>
    <nav>
      <a href="/pages/about">About</a>
      <a href="/pages/forum">Forum</a>
      <a href="/pages/contact">Contact</a>
    </nav>
    <ul id="nav_mobile" class="right hide-on-med-and-down">
          <li><%= link_to('Profile', profiles_path) %></li>
         <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
         <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>
          </li>
          <% end %>
    </ul>
  </header>
</body>
