<nav class="nav">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" href="/users/sign_in">
        <img src="" alt="Bulma logo">
      </a>
      <a class="nav-item is-tab is-hidden-mobile nav-links " href="/pages/about">About</a>
      <a class="nav-item is-tab is-hidden-mobile nav-links" href="/topics">Forum</a>
      <a class="nav-item is-tab is-hidden-mobile nav-links" href="/contact">Contact</a>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
         <%= link_to 'Admin Dashboard', pages_admin_dashboard_path, class:"nav-item is-tab is-hidden-mobile nav-links" %>
        <% end %>
      <% end%>
      <div>
    </div>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab">
        <a class="nav-item is-tab is-hidden-mobile nav-links" href="/conversations">Chat</a>
        <a class="nav-item is-tab is-hidden-mobile nav-links" href="/profiles">Profile</a>
        <div>
          <% if user_signed_in? %>
            <%= link_to 'Vouchers', pages_vouchers_path, class:"nav-item is-tab is-hidden-mobile nav-links" %>
          <% end%>
        </div>
        <% if user_signed_in? %>
        <%= link_to "Logout: #{current_user.email}", destroy_user_session_path, :method => :delete, class:"nav-item" %>
        <% else %>
        <%= link_to 'Login', new_user_session_path, class:"nav-item" %>
        <% end %>
      </a>
    </div>
  </div>
</nav>
