<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text  nav-item border-box">
        <h2>About</h2>
    </div>
  </div>
</div>
<div class="white-body">
  <div class="column is-half is-offset-one-quarter center-text black-text">
    <div class="card">
      <p> Care for Caring is an online forum created for teenagers who are struggling and in a difficult position. This position being one that means they are the main carer or supporter for their parent or guardian who may be faced with serious mental or physical illness. This site gives these teenagers a place to go and talk to people in a similar situation and either talk about their issues or completely unrelated topics in the forum section. <br>Care for Caring helps to connect the carers (the youth) with counsellors (the professional therapists) to give the opportunity to talk about any issues the carers may be facing and to promote positive mental health.
     </p>
   </div>
 </div>
</div>
<footer class="footer-image">
  <img src='http://res.cloudinary.com/devsvbpxr/image/upload/v1493089883/squiggle_l1k33k.jpg' />
</footer>
