<!-- <div class="body"> -->

<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text  nav-item border-box">
        <h2>About</h2>
    </div>
  </div>
</div>

<div class="white-body">
  <div class="column is-half is-offset-one-quarter center-text">
    <div class="card">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id iaculis lorem. Quisque posuere accumsan metus quis egestas. Nam sollicitudin massa risus, nec accumsan quam dignissim sit amet. Duis urna augue, bibendum et aliquet vitae, suscipit a ligula. Morbi ac nunc at nibh semper sodales. Nam condimentum justo eros, luctus ultrices odio aliquet vel. Proin scelerisque, est id facilisis scelerisque, ante urna volutpat dolor, eu efficitur sem massa ut augue. Sed non massa mauris. Mauris eu blandit lectus, nec venenatis justo. Aenean fringilla erat enim, et molestie purus mollis id. Nulla tristique mauris ac metus condimentum, et sollicitudin arcu tincidunt.
     </p>
 </div>
</div>
