<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border-box">
        <h2>Admin Dashboard</h2>
    </div>
  </div>
</div>
<div class="white-body">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th class="center-text"> All Users Email</th>
        </tr>
      </thead>
      <tbody>
    		<% @users.each do |user| %>
    			<tr>
  	        <td><%= user.email %></td>
            <td><%= link_to "Destroy", admin_destroy_user_path(user), method: :delete, data: { confirm: "You sure?" } %></td>
    	     </tr>
    		<% end %>
      </tbody>
    </table>
  </div>
</div>
