<div class="column is-one-third is-offset-one-third">
  <div class="heading center-text border">
      <h2>Chat</h2>
  </div>
</div>

<div class="column is-one-third is-offset-one-third">
 <p> Feel like you need to chat with one of our awesome therapists?</p>
</div>
<div class="column is-4 is-offset-5">
  <a class="button is-large" href="/pages/professional_request">Request a Professional</a>
</div>
