<div class="column is-one-third is-offset-one-third">
  <div class="heading center-text border">
    <h1> Categories</h1>
  </div>
</div>
<div class="container">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Books
          </p>
          <p class="subtitle">
            What are you reading at the moment and what were some of your favourites in the past?
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <a href="/posts">Join to the conversation!</a>
          </p>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Music
          </p>
          <p class="subtitle">
            Who's your favourite band? What do you listen to in different moods?
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
                <a href="/posts">Join to the conversation!</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <p class="title">
            Movies
          </p>
          <p class="subtitle">
            Seen any good ones lately? What's your go to film?
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
                <a href="/posts">Join to the conversation!</a>
              </span>
          </p>
        </footer>
      </div>
    </div>
</div>
<div class="columns">
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <p class="title">
          “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
        </p>
        <p class="subtitle">
          Jeff Atwood
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            Share on <a href="#">Facebook</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <p class="title">
          “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
        </p>
        <p class="subtitle">
          Jeff Atwood
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            Share on <a href="#">Facebook</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
  <div class="column is-one-third">
    <div class="card">
      <div class="card-content">
        <p class="title">
          “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
        </p>
        <p class="subtitle">
          Jeff Atwood
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a>
          </span>
        </p>
        <p class="card-footer-item">
          <span>
            Share on <a href="#">Facebook</a>
          </span>
        </p>
      </footer>
    </div>
  </div>
</div>
