<body>
  <div class="body">
    <div class="background">
    <div class="column is-one-third is-offset-one-third home-page">
      <img src='http://res.cloudinary.com/devsvbpxr/image/upload/v1493090443/doodle-bubble_cdvv7d.png' />
      <div class="heading center-text border-box">
        <h2>Welcome!</h2>
      </div>
      <% if user_signed_in? %>
      <div class="button is-large is-focused forum-button-space">
        <%= link_to 'Forum', topics_path %>
      <%else %>
      <div class="button is-large is-focused space button-space">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
      <div class="button is-large is-focused">
        <%= link_to 'Log In', user_session_path %>
      </div>
      <% end %>
    </div>
  </div>
</body>
