<div class="column is-one-third is-offset-one-third">
  <div class="heading center-text border">
      <h2>Your request has been sent and one of our professionals will be in touch soon!</h2>
  </div>
</div>
