<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border-box">
      <h1> Vouchers</h1>
    </div>
  </div>
</div>
<div class="body">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card topic-card border">
        <div class="card-image">
          <figure class="image is-4by4">
            <%= image_tag ("/assets/Guzman-Logo.jpg") %>
          </figure>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Redeem <a href="#">here</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card topic-card border">
        <div class="card-image">
          <figure class="image is-4by4">
            <%= image_tag ("/assets/grill'd.png") %>
          </figure>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Redeem <a href="#">here</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card topic-card border">
        <div class="card-content">
          <p class="title center-text">
            Guzman Y Gomez
          </p>
          <p class="subtitle">
            <%= image_tag ("/assets/Guzman-Logo.jpg") %>
          </p>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Redeem <a href="#">here</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>
