<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border-box">
      <h1> Vouchers</h1>
    </div>
  </div>
</div>
<div class="white-body">
  <div class="columns">
    <div class="column is-one-third">
      <div class="card topic-card border">
        <div class="card-image">
          <figure class="image is-4by4">
            <%= image_tag ("/assets/Guzman-Logo.jpg") %>
          </figure>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Redeem <a href="#">here</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card topic-card border">
        <div class="card-image">
          <figure class="image is-4by4">
            <%= image_tag ("/assets/dendyvouch.jpeg") %>
          </figure>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Redeem <a href="#">here</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card topic-card border">
        <div class="card-content">
          <figure class="image is-4by4">
            <p class="subtitle">
              <%= image_tag ("/assets/grilldvouch.jpg") %>
            </p>
          </figure>
        </div>
        <footer class="card-footer">
          <p class="card-footer-item">
            <span>
              Redeem <a href="#">here</a>
            </span>
          </p>
        </footer>
      </div>
    </div>
  </div>
</div>
