<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border-box banner-colour">
        <h2>Edit Post</h2>
    </div>
  </div>
</div>

<div class="white-body">
  <div class="column is-one-third is-offset-one-third">
    <div class="center-text border topic-card">
      <%= render 'form', post: @post %>
      <%= link_to 'Show', topic_posts_path %> |
      <%= link_to 'Back', :back %>
    </div>
  </div>
</div>
