<div class="background">
  <div class="column is-one-third is-offset-one-third">
    <div class="heading center-text border-box grey-background">
      <h1> New Post</h1>
    </div>
  </div>
</div>
<div class="white-body">
  <div class="column is-one-third is-offset-one-third">
    <div class="center-text border topic-card">
      <%= render 'form', post: @post %>
  </div>
</div>
<footer class="footer-image">
  <img src='http://res.cloudinary.com/devsvbpxr/image/upload/v1493089883/squiggle_l1k33k.jpg'>
</footer>
