/*
 *
 *= require_tree .
 *= require_self
 */
$primary: white;
@import "bulma";
@import "pages";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


.body {
  background-color: #4D9591;
  background-image: url(asset-path('spikes.jpg'));
  position: fixed;
  height: 100%;
  width: 100%;
}
.background {
  // background-color: #738091;
  background-image: url(asset-path('spikes.jpg'));
  // margin-bottom: 40px;
}
.heading {
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 30px;
}

.center-text {
  text-align: center;
}

.border {
  border: 1px solid white;
  padding: 5px 5px;
  margin-top: 10px;
  border-radius: 2px;
}

.border-grey {
  border: 1px solid #4D545C;
  padding: 5px 5px;
  margin-bottom: 20px;
  // border-radius: 15px;
}
.table-border {
  border: 1px solid #4D545C;
  padding: 5px 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.padding {
  padding: 15px 15px;
}

.space {
  margin-right: 40px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.home-page {
  margin-top: 150px;
}

.button {
  background-color: #4D9591;
}
.button-space {
  margin-left: 80px
}
.forum-button-space {
  margin-left: 150px;
}
.nav-links {
  padding-top: 20px;
  color: #2E3435 !important;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
}
.nav-item {
  color: white !important;

}
.nav {
  background-color: #4D9591;
}
.banner-colour {
  background-color:#4D9591;
}
.grey-background {
  background-color: #4D9591;
  height: 100%;
  width: 100%;
}
.footer-colour {
  background-color: #788AA0;
}
.topic-card {
  background-color: #4D9591;
}
.about-background {
  background-color: #4D9591;
  position: fixed;
  height: 100%;
  width: 100%;
}
.admin-table {
  margin-bottom:40px;
}
.card-image {
  border: none;
  border-color: transparent;
}
.topic-links {
  margin-left: 30px;
}
