/*
 *
 *= require_tree .
 *= require_self
 */
$primary: white;
@import "bulma";
@import "pages";
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');


.body {
  background-color:#7FF2E0;
  position: fixed;
  height: 100%;
  width: 100%;
}
.background {
  background-color: #7FF2E0;
}
.heading {
  color:#225056;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 50px;
  font-weight: bold;
}
.center-text {
  text-align: center;
}
.border {
  border: 1px solid #225056;
  padding: 5px 5px;
  margin-top: 10px;
  border-radius: 2px;
}
.border-grey {
  border: 1px solid #4D545C;
  padding: 5px 5px;
  margin-bottom: 20px;
}
.table-border {
  border: 1px solid #4D545C;
  padding: 5px 5px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.padding {
  padding: 15px 15px;
}
.space {
  margin-right: 40px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.home-page {
  margin-top: 80px;
}
.button {
  background-color: #7FF2E0;
  color: #2E3435 !important;
  border: #225056 !important;
}
.button-space {
  margin-left: 80px
}
.forum-button-space {
  margin-left: 150px;
}
.nav-links {
  padding-top: 20px;
  color: #2E3435 !important;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
}
.nav-item {
  color: #225056 !important;
}
.nav {
  background-color: #7FF2E0;
}
.banner-colour {
  background-color: #7FF2E0;
}
.grey-background {
  background-color:  #7FF2E0;
  height: 100%;
  width: 100%;
}
.footer-colour {
  background-color: #788AA0;
}
.topic-card {
  background-color: #7FF2E0;
}
.about-background {
  background-color: #7FF2E0;
  position: fixed;
  height: 100%;
  width: 100%;
}
.admin-table {
  margin-bottom:40px;
}
.card-image {
  border: none;
  border-color: transparent;
}
.topic-links {
  margin-left: 30px;
}
.border-box {
  border: 6px solid #225056;
}
a {
  color: #225056;
}
.card {
  box-shadow: none;
}
.white-body {
  background-color: white;
}
.footer-image {
  opacity: 0.9;
}
.black-text {
  color: black;
  font-size: 20px;
}
.border-line {
  border-bottom: 2px solid grey;
}
.post-title {
  font-size: 30px;
}
