$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6dc;
$border: #E9E9E9;

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

#main_navigation {
  padding: 1.5em 5%;
  border-bottom: 1px solid $border;
  .name {
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 0.90em 2rem;
    text-decoration: none;
    color: $dark;
    float: left;
    // pointer-events: none;
  }
  nav {
    float: left;
    padding-top: 0.5rem;
    a{
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1rem;
    }
  }
  ul {
    float: right;
    color: $dark;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
  }
}
